<h1>Add an ingredient</h1>
<%= form_for [@cocktail, @dose] do |f| %>
<%= f.label :dose %>
<%= f.text_field :description %>
<br>
<%= f.label :ingredient %>
<%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %> <br>
<%= f.submit "add ingredient"%>
<% end %>
